{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
<h1 align="center">Management system</h1>
<style>
  p.c {
    font-style: oblique;
  }
</style>
<h4 align="right" class="c">Call us at any time</h4>

    <p> About Us</p>

</div>

<div class="Details">
  <h2 align="center"> System creators</h2>
    <br>
    <br>
  <p style="font-family:Fantasy">Abdeen Elsayed Ahmed </p>
    <p style="font-family:Fantasy">Mohammed Ahmed Abdelrahim Elemary</p>
    <p style="font-family:Fantasy">Ahmed Waleed Fahmy</p>
    <p style="font-family:Fantasy">Mohmammed Ahmed Mohammed Mohammed</p>

</div>


 </div>
{% endblock %}

